@import "../../assets/sass/Common.scss";

.Admin{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $brand-secondary;

    &-table{
        padding: 20px;
        overflow-x: scroll;
    }
}

.MuiButton-label{
    font-family: JosefinSans;
}
