.se-pre-con {
    background: url(https://media3.giphy.com/media/VwkOGUM4gAkrDrFw2L/giphy.gif?cid=ecf05e47tmcn2mekhyf8m3xpudky055cahq8lq7s487rs59x&rid=giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
